*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #fefdfc;
  font-family: Book Antiqua,Georgia,serif;
}
.common{
  text-align: center;
}
.common ul{
  display: inline-block;
}
.common ul li{
  list-style: none;
}
.container{
  width: 100%;
  margin: 8px;
}
.coffe-name{
  padding-top: 25px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
  color: black;
}
img{
  border-radius: 12px;
  border-color: rgb(247, 238, 227);
}
.image1{
  margin-left: 25px;
  margin: 10px;
}
.image2{
  margin-left: 230px;
  margin-top: 10px;
}
.horizontal_line {
  background-color: orangered;
  width: 50%;
  height: 3px;
  border-top: 3px  black;
  line-height: 50%;
  border-radius: px;
}
.line {
  border-bottom: 3px solid  orangered;
  margin-top: 1px;
  height: 3px;
  margin-bottom: auto;
  width: 48%;
  border-radius: 4px;
}
.container{
  background-color: rgb(249, 224, 193);
}
